<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
</head>
<body>
    <h2>Вход на сайт</h2>
    {% if error %}
        <p style="color: red">{{ error }}</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div>
            <label>Логин:</label>
            <input type="text" name="username" required>
        </div>

        <div>
            <label>Пароль:</label>
            <input type="password" name="password" required>
        </div>

        <button type="submit">Войти</button>
        <a href="{% url 'catalog' %}">Войти как гость</a>

    </form>
</body>
</html>